<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeId</key>
		<string>B68</string>
		<key>routeName</key>
		<string>B68路</string>
		<key>start</key>
		<string>梅龙镇</string>
		<key>end</key>
		<string>宜昌东站</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>102</string>
		<key>routeName</key>
		<string>102路</string>
		<key>start</key>
		<string>三三0</string>
		<key>end</key>
		<string>云池</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>9</string>
		<key>routeName</key>
		<string>9路</string>
		<key>start</key>
		<string>火车东站</string>
		<key>end</key>
		<string>船闸</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>10-1</string>
		<key>routeName</key>
		<string>10-1路</string>
		<key>start</key>
		<string>夷陵广场</string>
		<key>end</key>
		<string>三峡人家</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>38</string>
		<key>routeName</key>
		<string>38路</string>
		<key>start</key>
		<string>金五一建材城</string>
		<key>end</key>
		<string>北海路</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B27</string>
		<key>routeName</key>
		<string>B27路</string>
		<key>start</key>
		<string>中建七局</string>
		<key>end</key>
		<string>夷陵广场</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B34</string>
		<key>routeName</key>
		<string>B34路</string>
		<key>start</key>
		<string>夷陵新都</string>
		<key>end</key>
		<string>古佛市</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>25</string>
		<key>routeName</key>
		<string>25路</string>
		<key>start</key>
		<string>高新区南玻公司</string>
		<key>end</key>
		<string>小新星英语学校 </string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B100</string>
		<key>routeName</key>
		<string>B100路</string>
		<key>start</key>
		<string>夷陵客运站</string>
		<key>end</key>
		<string>夷陵广场</string>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B63</string>
		<key>routeName</key>
		<string>B63路</string>
		<key>start</key>
		<string>梅龙镇</string>
		<key>end</key>
		<string>姜家湾</string>
	</dict>
</array>
</plist>
