<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeId</key>
		<string>B68</string>
		<key>routeName</key>
		<string>B68路</string>
		<key>startTime</key>
		<string>05:20</string>
		<key>endTime</key>
		<string>21:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>梅龙镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电工电料灯具城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场服装城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小商品批发城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育馆(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小溪塔三中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>黄金路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>萧氏茶叶</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅岭国际</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东方广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵城投</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅子垭水库</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清江润城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 宜洋汽车后市场 </string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>石板村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>易中广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌高新区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鑫昌大市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 优抚医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>创业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 珠海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌海关</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三环广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信大楼</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山建材广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>碧水林荫</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东风路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>旭光村三组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜化山语城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>合益路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火光村七组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌东站</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>梅龙镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电工电料灯具城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场服装城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小商品批发城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育馆(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡卷烟厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>黄金路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>萧氏茶叶</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅岭国际</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东方广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵城投</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅子垭水库</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清江润城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 宜洋汽车后市场 </string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>石板村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>易中广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌高新区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鑫昌大市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 优抚医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>创业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 珠海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌海关</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三环广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信大楼</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山建材广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>碧水林荫</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东风路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>旭光村三组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>上上城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 英杰学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>合益路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火光村七组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火光村九组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌东站</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>102</string>
		<key>routeName</key>
		<string>102路</string>
		<key>startTime</key>
		<string>6:00</string>
		<key>endTime</key>
		<string>18:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>三三0</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>葛洲坝一中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>正健医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>国贸</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长途汽车站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北山坡</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金桥市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>万寿山</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>汽渡</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>杨岔路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>中南路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东方城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宝塔河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>艾家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>树脂厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜棉小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>聚酯切片厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>临江溪</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>临江坪小学</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工联村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>姚家湾</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>华通加油站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>古坟溪</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>龙盘湖</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>陈家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>磨盘岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>磨盘溪</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>虎牙滩</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>葛船厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>监测站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十八中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金猇大道</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌化肥厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>云池</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>三三0</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>葛洲坝一中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>正健医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>国贸</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长途汽车站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北山坡</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金桥市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>万寿山</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>汽渡</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>杨岔路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>中南路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东方城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宝塔河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>艾家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>树脂厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜棉小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>聚酯切片厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>临江溪</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>临江坪小学</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工联村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>姚家湾</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>华通加油站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>古坟溪</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>龙盘湖</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>陈家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>磨盘岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>磨盘溪</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>虎牙滩</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>葛船厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>监测站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十八中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金猇大道</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌化肥厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>云池</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>9</string>
		<key>routeName</key>
		<string>9路</string>
		<key>startTime</key>
		<string>05:30</string>
		<key>endTime</key>
		<string>22:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>火车东站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>桔城路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>树脂厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>便民站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>王家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>艾家嘴</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>开关小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宝塔河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>丰泽东方城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>中南路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>杨岔路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二水厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>王寿桥</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>航道工程局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金桥市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>消防支队</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北山坡</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市二十二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工程局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>船闸</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>火车东站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>桔城路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>树脂厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>便民站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>王家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>艾家嘴</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>开关小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宝塔河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>丰泽东方城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>中南路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>杨岔路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二水厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>王寿桥</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>航道工程局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金桥市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>消防支队</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北山坡</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市二十二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工程局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>船闸</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>10-1</string>
		<key>routeName</key>
		<string>10-1路</string>
		<key>startTime</key>
		<string>6:00</string>
		<key>endTime</key>
		<string>18:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市二十二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工程局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>望洲岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>黄河路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夜明珠</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>后坪村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡茶城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>嫘祖庙</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>峡口中学</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>便民站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>白马洞</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>西陵峡欢乐谷</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三游洞</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡人家</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市二十二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工程局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>望洲岗</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>黄河路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夜明珠</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>后坪村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡茶城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>嫘祖庙</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>峡口中学</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>便民站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>白马洞</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>西陵峡欢乐谷</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三游洞</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡人家</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B38</string>
		<key>routeName</key>
		<string>B38路</string>
		<key>startTime</key>
		<string>6:30</string>
		<key>endTime</key>
		<string>19:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>金五一建材城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工勤村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜棉小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>桔香花园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>李家湖路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>仁和医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东方学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>王家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>江山风华</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>艾家嘴</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>虹桥国际公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家区法院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>江晖景苑</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十一中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家区财政局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>万寿桥</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>图书馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>港窑路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山建材广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>南苑科技创业园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>珠海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>创业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>优抚医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鑫昌大市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌高新区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北海路</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>金五一建材城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>秦兴花园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家政区政府</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>仁和医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东方学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>王家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>江山风华</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>艾家嘴</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>虹桥国际公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家区法院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>江晖景苑</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十一中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>伍家区财政局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>万寿桥</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>图书馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>交运集团</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>港窑路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>大连路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清华科技园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>大连路北海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北海路</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B27</string>
		<key>routeName</key>
		<string>B27路</string>
		<key>startTime</key>
		<string>5:50</string>
		<key>endTime</key>
		<string>23:30</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>中建七局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>天问学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>紫阳</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>一号船闸</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>外国语学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电子工业园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>内口河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>下李家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>公交六分公司</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>朱市街</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>下卷桥河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>点军区政府</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二十七中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十里红村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>磨基山</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>五龙八组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>五龙</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北山坡(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>果园二路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>山庄路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火车站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>峡州宾馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>中建七局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>天问学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>紫阳</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>一号船闸</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>外国语学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电子工业园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>内口河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>下李家河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>公交六分公司</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>朱市街</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>下卷桥河</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>点军区政府</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二十七中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十里红村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>磨基山</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>五龙八组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>五龙</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>北山坡(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>果园二路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>山庄路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B34</string>
		<key>routeName</key>
		<string>B34路</string>
		<key>startTime</key>
		<string>5:30</string>
		<key>endTime</key>
		<string>21:20</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>夷陵新都</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵区水利局</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>港虹桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夜明珠</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>老周物流园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>山城路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>唐家大医院B区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>渭河二路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>西湖路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学接待中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学图书馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学南苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市行政服务中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东山花园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东山隧道</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火车站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>古佛寺</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>夷陵新都</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>阳光水岸</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>星湖路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>港虹桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夜明珠</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>老周物流园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>山城路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>唐家大医院B区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>渭河二路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>西湖路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学接待中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学图书馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学南苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市行政服务中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东山花园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>深圳路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>深圳横路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小新星英语学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>珍珠路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>古佛寺</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>25</string>
		<key>routeName</key>
		<string>25路</string>
		<key>startTime</key>
		<string>06:30</string>
		<key>endTime</key>
		<string>20:30</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>高新区南坡公司</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>大连路北海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清华科技园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>大连路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>港窑湾</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>交运集团</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十三码头</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>中心医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>胜利三路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市妇幼医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>老干部活动中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>云集路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>古佛寺</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>珍珠路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小新星英语学校</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>高新区南坡公司</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>大连路北海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清华科技园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>大连路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>港窑湾</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十三码头</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>中心医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>胜利三路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>市妇幼医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>老干部活动中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>云集路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>峡州宾馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小新星英语学校</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B100</string>
		<key>routeName</key>
		<string>B100路</string>
		<key>startTime</key>
		<string>05:00</string>
		<key>endTime</key>
		<string>22:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>夷陵客运站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云二路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育管(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小溪塔二小</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>山城璐</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>拉菲小镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>唐家大医院B区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>渭河二路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>西湖路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学接待中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学图书馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学南苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>广电中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>民悦家园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十六化建</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>华祥商业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>葛洲坝宾馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>CBD商务中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>夷陵客运站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云二路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育管(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小溪塔二小</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>山城璐</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>拉菲小镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>唐家大医院B区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>渭河二路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>西湖路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学接待中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学图书馆</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学南苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>广电中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>民悦家园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十六化建</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>华祥商业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>绿萝路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵广场</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B63</string>
		<key>routeName</key>
		<string>B63路</string>
		<key>startTime</key>
		<string>05:50</string>
		<key>endTime</key>
		<string>18:50</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>梅陇镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电工电料灯具城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场服装城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小商品批发城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育馆(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云二路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵客运站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>发展大道路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工业园区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>谭家榜</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌技术学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鄢家河小学</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>江重机械厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>姜家湾</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>梅陇镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电工电料灯具城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场服装城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小商品批发城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育馆(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云二路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵客运站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>发展大道路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>工业园区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>谭家榜</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌技术学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鄢家河小学</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>江重机械厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>姜家湾</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>routeId</key>
		<string>B16</string>
		<key>routeName</key>
		<string>B16路</string>
		<key>startTime</key>
		<string>06:30</string>
		<key>endTime</key>
		<string>20:30</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>渭河二路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>云霞小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学教师公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学文学院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学医学院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>沁苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学南苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>广电中心民悦家园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十六化建</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>华祥商业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>刘家大堰(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东湖一路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三江桥头</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>樵湖岭</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电脑城</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>渭河二路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>云霞小区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学教师公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学文学院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学医学院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>沁苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡大学南苑学生公寓</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>广电中心民悦家园</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>二中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>十六化建</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>华祥商业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>刘家大堰(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东湖一路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三江桥头</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>樵湖岭</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电脑城</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
