<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeId</key>
		<string>B68</string>
		<key>routeName</key>
		<string>B68路</string>
		<key>startTime</key>
		<string>05:20</string>
		<key>endTime</key>
		<string>21:00</string>
		<key>price</key>
		<string>2元</string>
		<key>isOneDirection</key>
		<false/>
		<key>stationsGo</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>梅龙镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电工电料灯具城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场服装城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小商品批发城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育馆(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小溪塔三中</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>黄金路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>萧氏茶叶</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅岭国际</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东方广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵城投</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅子垭水库</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清江润城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 宜洋汽车后市场 </string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>石板村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>易中广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌高新区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鑫昌大市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 优抚医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>创业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 珠海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌海关</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三环广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信大楼</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山建材广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>碧水林荫</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东风路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>旭光村三组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜化山语城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>合益路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火光村七组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌东站</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅龙镇</string>
			</dict>
		</array>
		<key>stationsCome</key>
		<array>
			<dict>
				<key>stationName</key>
				<string>梅龙镇</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>电工电料灯具城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场服装城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>小商品批发城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>长江市场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>神仙湾(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>人寿桥(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>兴安(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平湖广场(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵体育馆(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>平云一路(BRT)</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡卷烟厂</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>黄金路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>萧氏茶叶</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅岭国际</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东方广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>夷陵城投</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>梅子垭水库</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>清江润城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 宜洋汽车后市场 </string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>石板村</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>易中广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌高新区</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>鑫昌大市场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 优抚医院</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>创业中心</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 珠海路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌海关</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三环广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>移动通信大楼</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山建材广场</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>金东山商业城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>三峡文化城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>碧水林荫</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>东风路</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>旭光村三组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>上上城</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string> 英杰学校</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>合益路口</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火光村七组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>火光村九组</string>
			</dict>
			<dict>
				<key>stationName</key>
				<string>宜昌东站</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
